{% extends "overall.html" %}

{% block content %}
    <h2>Nowy post</h2><br/>
    <form method="POST" action="{% url "edycja_posta" post.id %}">
        {% csrf_token %}
        <fieldset>
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.title.errors }}
                <label for="title">Tytuł:</label>
                {{ form.title }}
            </div>
            <div class="fieldWrapper">
                {{ form.text.errors }}
                <label for="title">Tekst:</label>
                {{ form.text }}
            </div>
            <div class="fieldWrapper">
                <label for="title">Autor:</label>
                <input type="text" disabled value="{{ user.username }}" />
            </div>
            <div class="fieldWrapper">
                {{ form.tags.errors }}
                <label for="title">Tagi:</label>
                {{ form.tags }}
            </div>
            <input type="submit" value="Dalej" style="padding: 5px;" />
        </fieldset>
    </form>
{% endblock %}