{% extends "overall.html" %}

{% block content %}
    <h2>Logowanie</h2><br />
    <form action="{% url "nowa_sesja" %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.username.errors }}
                <label for="title">Nazwa użytkownika:</label>
                {{ form.username }}
            </div>
            <div class="fieldWrapper">
                {{ form.password.errors }}
                <label for="title">Hasło:</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Dalej" style="padding: 5px;" />
    </form>
{% endblock %}