
        <hr /><h3>{{ post.title }}</h3>
        <a href="{% url 'edycja_posta' post.id %}">Edycja</a><br /><br />
        <small>{{ post.pub_date }}</small><br />
        <small>autor: <a href="{% url "posty_uzytkownika" post.pub_user.id %}">{{ post.pub_user.username }}</a></small><br />
        {% if post.mod_date %}
        <small>edycja {{ post.mod_date }}</small><br />
        <small>autor: <a href="{% url "posty_uzytkownika" post.mod_user.id %}">{{ post.mod_user.username }}</a></small>
        {% endif %}
        <br />
        <br />
        <div>{{ post.text }}</div><br />
        <small>tagi:
            {% if post.tag_set.all %} <ul>
            {% for tag in post.tag_set.all %}
                <li><a href="{% url 'posty_tagu' tag.id %}">{{ tag.name }}</a></li>
            {% endfor %}</ul>
            {% else %}
                brak
            {% endif %}
        </small>
        <br /> <br /> <br />